<div class="addFormComponent">
    <form class="addForm" [formGroup]="carForm">
        <h1 class="title-edit-car">Edit a Car</h1>
        <label class="formLabel">Brand</label>
        <input class="formInput" type="text" formControlName="brand"  [(ngModel)]="car.brand" required>
        <label class="formLabel">Model</label>
        <input class="formInput" type="text" formControlName="model"  [(ngModel)]="car.model" required>
        <label class="formLabel">Year</label>
        <input class="formInput" type="number" formControlName="year"  [(ngModel)]="car.year" required>
        <label class="formLabel">Color</label>
        <input class="formInput" type="text" formControlName="color"  [(ngModel)]="car.color" required>
        <label class="formLabel">Price</label>
        <input class="formInput" type="number" formControlName="price"  [(ngModel)]="car.price" required>
        <input class="addFormButton" type="button" value="Edit Car" (click)="edit()" [disabled]="!carForm.valid">
    </form>
</div>